@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@font-face {
    font-family: "A Goblin Appears";
    src: url("../src/fonts/AGoblinAppears-o2aV.ttf") format("truetype");
}

:root {
    --jersey10Font: 'Jersey 10', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --AGoblinAppearsFont: 'A Goblin Appears', monospace;
    --gridSize: 3rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: fit-content;
    padding: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.header-container > * {
    text-transform: uppercase;
}

form > *,
.back-btn,
.single-player-btn,
.multi-player-btn,
#close-new-game-btn,
.restart-game-btn,
#restart-game-dialog,
#start-turn-dialog {
    font-family: var(--AGoblinAppearsFont);
    text-transform: uppercase;
}

.header-container {
    font-family: var(--jersey10Font);
    font-size: 2rem;
}

button {
    padding: 1rem;
    cursor: pointer;
}

#main-contents {
    display: flex;
    width: 100%;
    max-width: 2500px;
    justify-content: space-evenly;
    gap: 1rem;
}

#ship-dock-main-container {
    display: flex;
}

#ship-dock-container {
    align-self: center;
}

.outer-ship-container {
    display: flex;
    justify-content: end;
    padding: 1rem;
}

.inner-ship-container {
    display: grid;
    grid-auto-rows: minmax(var(--gridSize), 1fr);
    width: fit-content;
    pointer-events: all
}

.inner-ship-container > div {
    cursor: pointer;
}

.player-container {
    text-align: center;
}

.board-container {
    position: relative;
    width: fit-content;
}

.ship-board {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.player-board, 
.ship-board {
    display: grid;
    grid-template-columns: repeat(11, var(--gridSize));
    grid-auto-rows: var(--gridSize);
    user-select: none;
}

.player-board > div {
    text-align: center;
    align-content: center;
    border: 1px solid grey;
}

.board-square {
    border: 1px solid grey;
    background-color: blue;
}

.square-with-ship {
    background-color: darkgray;
}

.clickable-square {
    cursor: pointer;
}

.clickable-square:hover {
    background-color: green;
}

.board-hit {
    background-color: red;
}

.board-miss {
    background-color: lightyellow;
}

.board-sunk {
    background-color: darkblue;
}

.valid-placement {
    background-color: green;
}

.invalid-placement {
    background-color: red;
}

/* @media only screen and (min-width: 768px) {

} */