@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

@font-face {
    font-family: "A Goblin Appears";
    src: url("../src/fonts/AGoblinAppears-o2aV.ttf") format("truetype");
}

:root {
    --jersey10Font: 'Jersey 10', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --AGoblinAppearsFont: 'A Goblin Appears', monospace;
    --padding: 20px;
    --border: clamp(4px, .25rem, 12px) solid #000;
    --borderFocus: clamp(4px, .25rem, 12px) solid hsl(23,100%,50%);
    --gridBorder: clamp(2px, .125rem, 6px) solid #000;
    --black: hsl(0,0%,0%);
    --orange: hsl(23,100%,50%);
    --lightOrange: hsl(41,100%,50%);
    --darkOrange: hsl(17,100%,50%);
    --red: hsl(8,100%,50%);
    --green: hsl(88,100%,45.3%);
    --darkGreen: hsl(120,100%,19%);
    --verydarkGreen: hsl(120,100%,11%);
    --yellowFont: hsl(60,100%,79%);
    --turquoise: hsl(167,100%,62.9%);
    --purple: hsl(241,88.7%,72.2%);
    --blueBackground: hsl(215,91.9%,61.4%);
    --blueSea: hsl(200,100%,42%);
    --blueSeaSunk: hsl(200,100%,22%);
    --darkYellow: hsl(61,100%,26.3%);
    --buttonYellow: hsl(61,45.6%,71.2%);
    --buttonHoverYellow: hsl(61,45.6%,61.2%);
    --buttonClickYellow: hsl(61,45.6%,51.2%);
    --buttonDisabledYellow: hsl(61,45.6%,81.2%);
    --borderDisabled: .25rem solid #888;
    --yellowMiss: hsl(45,100%,50%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5;
    min-height: 100vh;
    padding: var(--padding);
    background-color: var(--blueBackground);
    color: var(--black);
}

#main-contents-container {
    width: 100%;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 75%;
    max-width: 500px;
    padding: 1rem;
    background-color: var(--darkYellow);
    border: var(--border);
    font-size: 1rem;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form input[type='text'] {
    padding: 1rem;
    border: var(--border);
    outline: none;
}

button {
    padding: 1rem;
    cursor: pointer;
    width: 100%;
    line-height: 1.5;
    background-color: var(--buttonYellow);
    border: var(--border);
    overflow: hidden;
    text-overflow: ellipsis;
}

button:hover {
    background-color: var(--buttonHoverYellow);
}

button:active {
    background-color: var(--buttonClickYellow);
    transform: scale(0.95);
}

button:disabled {
    background-color: var(--buttonDisabledYellow);
    border: var(--borderDisabled);
}

button:focus {
    outline: none;
}

button:focus-visible,
form input[type='text']:focus {
    outline: var(--borderFocus);
}

#top-buttons-container,
#bottom-buttons-container,
#display-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#top-buttons-container > div,
#bottom-buttons-container > div,
#display-container > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--darkYellow);
    border: var(--border);
    padding: 1rem;   
}

#bottom-buttons-container,
#display-container {
    padding-top: 1rem;
}

dialog,
form > *,
.back-btn,
.single-player-btn,
.multi-player-btn,
.restart-game-btn,
#restart-game-dialog,
#start-turn-dialog,
.player-name,
.board-container,
.dock-header,
#close-new-game-btn,
#close-restart-game-btn,
#display-text,
#help-btn,
#close-help-btn {
    font-family: var(--AGoblinAppearsFont);
    text-transform: uppercase;
}

form > *,
.back-btn,
.single-player-btn,
.multi-player-btn,
.restart-game-btn,
#restart-game-dialog,
#start-turn-dialog,
.player-name,
.board-container,
.dock-header,
#display-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

#close-new-game-btn,
#close-restart-game-btn,
.back-btn,
#close-help-btn {
    width: fit-content;
    text-align: center;
}

#close-new-game-btn,
#close-restart-game-btn,
#close-help-btn {
    overflow: visible;
    text-overflow: clip;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    text-align: center;
    font-family: var(--jersey10Font);
    font-size: clamp(1rem, calc(1rem + 4vw), 4rem);
    color: var(--orange);
    line-height: 1;
    width: 100%;
}

.header-container > h1 {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
    text-shadow:
        -.035em -.035em 0 #000,
        .035em -.035em 0 #000,
        -.035em  .035em 0 #000,
        .035em  .035em 0 #000;
}

#help-btn {
    width: fit-content;
    color: var(--black);
}

.help-paragraph {
    background-color: var(--buttonYellow);
    border: var(--border);
    line-height: 1.5;
    text-align: left;
    padding: 1rem;
    margin-top: 1rem;
}

#close-new-game-container {
    display: none;
    justify-content: end;
    padding-bottom: 1rem;
}

.start-turn-text {
    padding-bottom: 1rem;
    text-align: center;
}

.game-header,
.restart-container,
.restart-container-text,
.player-title-container-difficulty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.player-title-container,
.player-title-container-difficulty,
.restart-container,
.restart-container-text {
    padding-top: 1rem;
}

.player-title-container-difficulty,
.restart-container-text {
    text-align: center;
    justify-content: center;
}

.player-name {
    padding: 1rem;
    background-color: var(--buttonYellow);
    border: var(--border);
    gap: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ship-dock-main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.dock-header {
    background-color: var(--buttonYellow);
}

.dock-header,
#display-text {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border: var(--border);
}

#ship-dock-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: var(--border);
    padding: 1rem;
    background-color: var(--darkYellow);
    gap: 1rem;
}

#ship-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
}

.outer-ship-container {
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 1rem;
    border: var(--border);
    background-color: var(--buttonYellow);
}

#main-board-contents {
    --gap: 1rem;

    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-top: var(--gap);
    width: 100%;
}

.player-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--darkYellow);
    border: var(--border);
}

.board-container {
    position: relative;
    font-size: clamp(.5rem, calc(.5rem + 1vw), 1rem);
}

.ship-board {
    position: absolute;
    inset: 0;
    pointer-events: none;
}

.player-board, 
.ship-board {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
}

.player-board, 
.ship-board {
    aspect-ratio: 1 / 1;
}

.inner-ship-container {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    pointer-events: all;
    cursor: pointer;
}

.inner-ship-container-shipyard {
    border: var(--gridBorder);
}

.shipyard-square {
    aspect-ratio: 1 / 1;
    width: 8vw;
}

.grid-label {
    background-color: var(--buttonYellow);
}

.player-board > div {
    text-align: center;
    align-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ship-board,
.player-board, 
.player-board > div {
    border: var(--gridBorder);
}

.board-square {
    background-color: var(--blueSea);
}

.square-with-ship {
    background-color: darkgray;
    border: var(--gridBorder);
}

.clickable-square {
    cursor: pointer;
}

.clickable-square:hover {
    background-color: var(--yellowFont);
}

.board-hit {
    background-color: var(--red);
}

.board-miss {
    background-color: var(--yellowMiss);
}

.board-sunk {
    background-color: var(--blueSeaSunk);
}

.valid-placement {
    background-color: var(--green);
}

.invalid-placement {
    background-color: var(--red);
}

.player-turn-background,
.hit-background,
.miss-background,
.sunk-background {
    background-color: var(--lightOrange) !important;
}

.win-background {
    background-color: var(--purple) !important;
}

.player-turn-text {
    color: var(--yellowFont);
    background-color: var(--darkGreen);
}

.hit-text,
.sunk-text,
.hit-text-multiplayer,
.sunk-text-multiplayer {
    color: var(--verydarkGreen);
    background-color: var(--darkOrange);
}

.miss-text {
    color: var(--black);
    background-color: var(--buttonDisabledYellow);
}

.win-text {
    color: var(--black);
    background-color: var(--turquoise);
}

.hit-text-multiplayer,
.sunk-text-multiplayer,
.win-text {
    animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    color: transparent;
  }
}

@media only screen and (min-width: 768px) {
    .header-container,
    #main-contents-container {
        max-width: 1200px;
    }

    #top-buttons-container {
        flex-direction: row;
        justify-content: space-between;
    }

    #top-buttons-container > div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #restart-new-game-btns-container > button,
    #game-setup-btns-container > button,
    #start-game-btn-container > button {
        width: fit-content;
    }

    #restart-new-game-btns-container {
        display: flex;
        justify-content: center;
    }

    #ship-dock-main-container {
        padding-top: 1rem;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    #ship-dock-container {
        flex: 1;
    }

    .shipyard-square {
        width: 4vw;
        max-width: 50px;
    }

    #main-board-contents {
        display: flex;
        flex-direction: row;
        padding-top: 0;
        flex: 1;
    }

    .player-container {
        flex: 1;
    }

    #bottom-buttons-container {
        flex-direction: row;
        justify-content: center;
    }

    #end-turn-btn-container {
        width: fit-content;
    }

    #display-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #display-text-container {
        width: 50%;
    }
}